#face-container {
  background: black;
  padding: 16px;
}

#face {
  font-family: "Courier New";
  white-space: pre;
  font-size: 13px;
  color: #01C304;
}

@media (max-width: 600px) {
  #face-container {
    padding: 4px;
  }

  #face {
    font-size: 7px;
  }
}
