#face-container {
  background: black;
  padding: 16px;
}

#face {
  font-family: monospace;
  white-space: pre;
  color: #01C304;
}

@media (max-width: 600px) {
  #face-container {
    padding: 4px;
  }

  #face {
    font-size: 8px;
  }
}
