@font-face {
  font-family: AbFubu;
  src: local("AbFubu"),
  url(../assets/fonts/AbFubu-DJ6E.ttf);
}

@font-face {
  font-family: JupiterCrash;
  src: local("JupiterCrash"),
  url(../assets/fonts/JupiterCrashBrk-8wVn.ttf);
}

.border {
  border-top: 2px solid lightgray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  border-left: 2px solid lightgray;
}
