@font-face {
  font-family: AbFubu;
  src: local("AbFubu"),
  url(../assets/fonts/AbFubu-DJ6E.ttf);
}

@font-face {
  font-family: JupiterCrash;
  src: local("JupiterCrash"),
  url(../assets/fonts/JupiterCrashBrk-8wVn.ttf);
}
