.joystick, .d-pad {
  display: none;
}

@media (max-width: 600px) {
  .joystick {
    display: block;
  }

  .d-pad {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    gap: 2px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
