.border {
  border-top: 2px solid lightgray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  border-left: 2px solid lightgray;
}

.food {
  background-size: cover;
  background-image: url('../../assets/apple.png');
}

.body {
  background-color: green;
}

[class^="head-"],
[class^="tail-"] {
  background-color: green;
  animation-duration: 120ms;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.head-right {
  animation-name: scale-in-x;
  transform-origin: left;
}

.head-left {
  animation-name: scale-in-x;
  transform-origin: right;
}

.head-up {
  animation-name: scale-in-y;
  transform-origin: bottom;
}

.head-down {
  animation-name: scale-in-y;
  transform-origin: top;
}

.tail-right {
  animation-name: scale-out-x;
  transform-origin: right;
}

.tail-left {
  animation-name: scale-out-x;
  transform-origin: left;
}

.tail-up {
  animation-name: scale-out-y;
  transform-origin: top;
}

.tail-down {
  animation-name: scale-out-y;
  transform-origin: bottom;
}

@keyframes scale-in-x {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes scale-in-y {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes scale-out-x {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes scale-out-y {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}
